<%= content_for :title, @ticket_item.title %>

<p class="text-muted">
  Posted by: <%= @ticket_item.user.name %> on <%= link_to @ticket_item.category.name, @ticket_item.category %>
</p>

<%= simple_format(@ticket_item.description) unless @ticket_item.description.nil? %>

<% if can? :update, @ticket_item %>
  <p class="text-right">
    <%= link_to 'Edit', edit_ticket_item_path(@ticket_item), class: 'btn btn-link' %>
  </p>
<% end %>
