<%= content_for :title, t('devise.sessions.new') %>

<div class="authform">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="row">
        <div class="col-md-6"><%= f.input :email %></div>
        <div class="col-md-6"><%= f.input :password %></div>
      </div>

      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t('devise.sessions.new') %>
    </div>

    <%= render 'devise/shared/links'  %>
  <% end %>
</div>
