<%= content_for :body_id, 'default' %>
<%= render 'layouts/head' %>
<%= render 'layouts/header' %>
<messages><%= render 'layouts/messages' %></messages>
<main role="main" class="container-fluid"><%= yield %></main>
<%= render 'layouts/footer' %>
