<%= content_for :body_id, 'full-width' %>
<%= render 'layouts/head' %>
<%= render 'layouts/header' %>
<messages><%= render 'layouts/messages' %></messages>
<main role="main"><%= yield %></main>
<%= render 'layouts/footer' %>
